/*Background Colors*/
.yellow {
    background-color: #FAB131;
}
.orange {
    background-color: #F17949;
}

.lightblue {
    background-color: #C7DDEA;
}


.lightgray {
    background-color: #EBEBEB;
}

.darkgray {
    background-color: #A9A19E;
}
