* {
  box-sizing: border-box;
}

.container {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*#region We've got you*/

.text-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

  .text-item div {
    max-width: 38em;
    padding: 5em 6em 0 6em;
  }

.box-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

  .box-item div {
    text-align: center;
    padding: 7em;
  }

.header-text {
  text-align: left;
  font-size: 4em;
  margin-bottom: -0.2em;
}

.info-text {
  align-self: left;
  font-size: x-large;
  opacity: 0.6;
}

.picture-item {
  display: flex;
  align-items: center;
  justify-content: right;
}

  .imgwrap {
    width: 70%;
    margin-right: 1em;
    margin-top: -1em;
  }

  .imgwrap img{
    display: block;
    width: 100%;
    max-width: auto;
  }

/*#endregion */

/*#region Buttons*/

.button-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
} 

.join-button {
  margin-left: 7.5em;
  margin-bottom: 0.5em;
  height: 3.5em;
  width: 11.5em;
  color: black;
  border: transparent;
  background-color: white;
  border-radius: 23px;
  box-shadow: 0 3px 1px 0 darkslategray;
}

/*#endregion */

/*#region Navbar home*/

.navbar{
  list-style: none;
  text-align: center;
}

.navbar a {
  display: inline-block;
  padding: 2em 5em 2em 5em;
}


a:link, a:visited {
  text-decoration: none;
  color: darkslategray;
  background-color: transparent;
  
}
a:hover {
  color: black;
}

/*#endregion */

/*#region Card*/

.card-item {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 2em;
  margin-bottom: -7em;
  padding: 1em;
  border-radius: 5px;
}

 .card-div {
   margin-top: -3em;
   padding: 2em 5em 0em 5em;
   display: block;
   height: 15em;
   overflow: hidden;
   border-radius: 5px;
 }

 .card-div img {
   width: 100%;
   justify-self: stretch;
 }

.card-text {
  text-align: center;
}

.text-safety {
  text-align: left;
  padding: 0em 1em 3em 1em;
  margin: 2em 4em 0em 4em;
  max-width: 25em;  
}

/*#endregion */

/*#region About us*/

.about-us {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  z-index: -1;
}

.about-us div {
  align-self: center;
}

.about-us h2 {
  text-align: center;
  padding: 3em 3em 0em 3em;
}

.about-us p {
  text-align: center;
  max-width: 37em;
  padding: 1em 3em 5em 3em;
}

/*#endregion */

/*#region How It Works*/

.numerated-boxes{
  text-align: center;
  padding: 3em;
  position: relative;
}

.numerated-boxes p {
  padding: 3em 1em 6em 1em;
  position: relative;
}

.numerated-boxes-number {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  font-size: xx-large;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: darkslategray;
  opacity: 60%;
}

/*#endregion */

/*#region Navbar bottom*/

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: -1em;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.navbar-bot {
  list-style: none;
  text-align: center;
}

.navbar-bot a {
  display: inline-block;
  padding: 0em 0em 2em 0em;
}
/*#endregion */

/*#region Homepage footer*/

.homepage-footer {
  height: 20em;
  background-color: rgb(110, 112, 112);
}

/*#endregion */

/* Responsive layout - */
@media (max-width: 800px) {
  .container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .card-item {
    margin: 2em;
  }

#popup-nav {
  display: none;
}

  /*Om jag ska fixa dropdownknapp till menyn senare*/
  /*<button class="dropbtn">Menu</button>*/
  /* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .navbar {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navbar a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .navbar {
    display: block;
  }  */

}

/*#region About us*/

/*#endregion */