.regular {
    opacity: 0.6;
    margin-bottom: -2em;
    margin-top: 2em;
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.large {
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font-large {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font-regular {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-text {
    opacity: 0.8;
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}